ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(0, 174, 255);
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-align: center;
}

ul li a:hover {
  color: #111111;
}

.image_area img {
    display: block;
    width: 100%;
    height: auto;
}

.imageContainer {
       width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
        max-width: min-content;
        max-height: min-content;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; 
        background-color: rgba(0, 0, 0, 0.65);
        padding: 20px;
        border-radius: 8px;
 }

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li a {
        width: 100%;
        box-sizing: border-box;
    }

    .imageContainer {
        padding: 10px;
        box-sizing: border-box;
    }
}
.recipe-container {
    width: 100%;
}

.recipe-banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.recipe-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-text {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.recipe-text object {
    width: 100%;
    height: 500px;
}